@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

input[type="checkbox"] {
  width: 1.1rem; /* Adjust size as needed */
  height: 1.1rem; /* Adjust size as needed */
  appearance: none;
  background-color: #2d3748; /* Tailwind color: gray-800 */
  border-radius: 0.25rem; /* Rounded corners */
  border: 2px solid transparent;
  display: inline-block;
  position: relative;
  transition: background-color 0.2s, border-color 0.2s;
  outline:none;
}


input[type="checkbox"]:checked {
  background-color: #48bb78; /* Tailwind color: green-500 */
  border-color: #48bb78; /* Tailwind color: green-500 */
}

input[type="checkbox"]:checked::after {
  content: '\2713'; /* Unicode checkmark */
  color: white;
  font-size: 0.9rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
